<h1>My Order History</h1>

<% if @orders.any? %>
  <% @orders.each do |order| %>
    <hr>

    <p>
      <strong>Order: </strong> <%= link_to order.id, order_path(order) %><br>
      <strong>Placed On:</strong> <%= order.created_at.strftime("%d %b %Y %H:%M") %><br>
      <strong>Total:</strong> <%= number_with_precision(order.total_amount, precision: 2) %><br>
      <strong>Status:</strong> <%= order.status.capitalize %>
    </p>

  <% end %>
<% else %>
  <p>You have not placed any orders yet.</p>
<% end %>